*{
    padding: 0px;
    margin: 0px;
}
.hero-content{
    width: 70%;
}
header{
    width: 100%;
    background-color: aquamarine;
}
.logo{
    padding: 0px;
    margin: 0px;
}
nav a{
    text-decoration: none;
    display: inline-block;
    margin: 5px 50px ;
    padding: 5px;
}
nav{
    text-align: center;
    width: 100%;
        
}
html{
    scroll-behavior: smooth;
}
main{
    background-color: aqua;
}
a{
    text-decoration: none;
}
main{
    display: flex;
    
}
.hero-image{
    text-align: right;
}