*{
    margin:0;
}
html{
    scroll-behavior: smooth;
    background-color:lavenderblush;
}
header{
    background-color: aqua;
}
nav{
    background-color: beige;
}
#navigation{
    list-style-type: none;
    display:flex;
    gap: 30%;
}
h1{
    text-align: center;
}
#youtube{
    display: flexbox;
    margin: 10px;
    gap: 10%;
}
footer{
    background-color: cornsilk;   
}
#contect{
    list-style-type: none;
    display: flex;
    gap: 10%;
}
img{
    display:inline-flex; margin: 0; padding: 0;
}